.table {
  width: 100%;

  td,
  th {
    border: 1px solid gray;
    padding: 7px;
  }

  .count {
    text-align: center;
  }
}

.write {
  display: inline-block;
  font-size: 17px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: rgb(69, 134, 255);
  color: white;
  cursor: pointer;
}
